audio-extract==0.6.0
certifi==2024.7.4
charset-normalizer==3.3.2
editdistance==0.8.1
eng-to-ipa==0.0.2
epitran==1.25
ffmpeg-python==0.2.0
future==1.0.0
idna==3.7
imageio-ffmpeg==0.4.8
marisa-trie==1.2.0
munkres==1.1.4
mutagen==1.46.0
numpy==2.0.0
panphon==0.20.0
PyAudio==0.2.14
pydub==0.25.1
pympi-ling==1.70.2
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.3
SpeechRecognition==3.10.4
typing_extensions==4.12.2
unicodecsv==0.14.1
urllib3==2.2.2
